.doit {
    margin-top: 150px;
    margin-bottom: 60px;

    &__text {
        position: relative;

		display: block;
		margin-bottom: 70px;
		width: 100%;
    }

    &__line1,
    &__line2 {
        margin: 0;
        white-space: nowrap;
        color: @black;
        font-family: Mak;
        font-size: 128px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%; /* 153.6px */
    }

    &__line1 {
        margin-left: -55px;
    }

    &__line2 {
        text-align: right;
        margin-right: -180px;
    }

    &__underline {
        margin-top: 70px;
        display: flex;
        justify-content: center;
        gap: 98px;

        &--1,
        &--2 {
            flex-grow: 1;
            height: 2px;
            width: 100%;
        }

        &--1 {
            margin-left: 50px;
            background: var(--1-liner, linear-gradient(270deg, #1C1B1B 0%, rgba(255, 255, 255, 0.00) 82.86%));
        }
        
        &--2 {
            margin-right: 50px;
            background: linear-gradient(90deg, #1C1B1B 0%, rgba(255, 255, 255, 0.00) 100%);
        }
    }
}