.events{
    padding-top: 140px 0 100px;

    &__listing{
        margin-bottom: 100px;
    }

    &__container{
        flex-direction: column;
    }

    &__title{
        align-self: center;
    }

    &__list{
        align-self: center;
    }
}

    