.listing {
    .container();
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        margin: 150px 0 150px
    }

    &__events-list {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -30px -120px;
    }

    &__event-card {
        width: calc(33.3333% - 60px);
        margin: 0 30px 120px;
    }
}