
.home{
    padding-top: 147px;
}

    .main-header__title{
        margin: 0 0 70px;
    }

    .main-header__title, .main-header_text{
        padding-left: 40px;
        padding-right: 40px;  
        color: var(--1, #1F1E1E);
        text-align: center;
        font-family: 'Lora', sans-serif;
        font-size: 45px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
    }

    .main-header_text{
        margin: 0 auto;
        max-width: 948px;
        width: 100%;
    }

    .main-header_picture{
        position: relative;
        width: 100%;
        display: block;
        margin-bottom: 70px;
    }

    .main-header_picture::before{
        content: '';
        display: block;
        padding-top: 16%; 
    }

    .main-header__img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }



.listing{
    display: flex;
    flex-wrap: wrap;
    gap: 120px 60px;
}

    .listing__card-event{
        max-width: 405px;
        width: calc(33.333% - 40);
    }



.title{
    margin: 0;
    box-sizing: border-box;
    padding: 7px 45px 9px;
    max-width: 624px;
    text-align: center;
    background-color: #1F1E1E;
    font-family: Lora;
    color:rgb(255, 255, 255);
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}
