body{
    color: #1F1E1E;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.page-header{

}

    .page-header__nav-link{
        font-family: "Open Sans";
        color: black;
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        margin: 0 25px;
        text-decoration: none
    }

.page-footer{

}